%h2 Download Source Code
%ul
  %li 
    kunjungi link berikut ~> 
    %a{href: 'https://github.com/rfauzi/uproject', target: "_blank"}link
  %li Klik icon "Zip"
%img{src: '/images/screenshot.png', align: 'bottom'}