- if current_user.present?
  .left        
  .right
    %a{:href => "javascript:app.logout()"} Logout
- else
  .left
  .right
    %a{:href => "javascript:app.login()"} Login dengan facebook  
.clear    