.sidebar-left
  %a{href: '/'}
    .avatar
      %img{src: "http://graph.facebook.com/#{current_user.uid}/picture"}      
      = current_user.username.capitalize
  .clear
  %br
  %ul
    %li
      %a{href: '/profile'} Profile
    %li
      %a{href: '/matrikulasi'} Matrikulasi
    %li
      %a{href: '/members'} Members
    %li
      %a{href: '/source_code'} Source Code