!!!
%html
  %head
    %title EBRCOUM - Online Courses Management tool
    %script{:src => "/javascripts/jquery.js", :type => "text/javascript"}


    %link{:href => "/stylesheets/application.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/

    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:content => "Online Course Management", :name => "description"}
    %meta{:content => "kursus online, online course management, e-learning, belajar online", :name => "keywords"}

  %body
    #fb-root
    %script{:src => "/javascripts/application.js", :type => "text/javascript"}
    #container
      #loader memproses..
      - if session[:flash].present?
        #flash{:class => session[:flash][:type]}
          = session[:flash][:message]
          - session[:flash].clear
          %a{class: "close", href: "javascript:app.close('#flash')"} &times;
      #main        
        = yield 
      #footer   
        = "~"
        Build with 
        %a{href: 'http://www.ruby-lang.org/en/', target: "_blank"} Ruby 
        and
        %a{href: 'http://www.sinatrarb.com/', target: "_blank"} Sinatra
        with love @ 2013 - 
        %a{href: 'http://ebr.web.id', target: "_blank"} Ebrweb Corp
        = "~"